<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@drawable/ic_rigplay"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_rigplay"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:theme="@style/Theme.Xcertplay">

        <meta-data
            android:name="android.allow_multiple_resumed_activities"
            android:value="true" />

        <receiver
            android:name="com.shilapi.xcertplay.BootReceiver"
            android:enabled="true"
            tools:replace="android:enabled" />
    </application>

</manifest>
